<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Muthukumaran - Senior Technical Project Manager</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
<!-- 
Easy Profile Template
http://www.templatemo.com/tm-467-easy-profile
-->
 {% load static %}
	<!-- stylesheet css -->

	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/css/templatemo-blue.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">

<!-- preloader section -->
<div class="preloader">
	<div class="sk-spinner sk-spinner-wordpress">
       <span class="sk-inner-circle"></span>
     </div>
</div>

<!-- header section -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<img src="images/tm-easy-profile.jpg" class="img-responsive img-circle tm-border" alt="templatemo easy profile">
				<hr>
				<h1 class="tm-title bold shadow">Hi, I'm Muthukumaran</h1>
				<h1 class="white bold shadow">Senior Technical Project Manager</h1>
				<h2 class="tm-title bold shadow">Overall 14.9 Years of Experiance</h2>
			</div>
		</div>
	</div>
</header>

<!-- about and skills section -->
<section class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h3 class="accent">Profile Summary</h3>
						<p></p>
						<p>Competent and personable IT professional with an overall experience of <b class="accent">14.9</b> years which includes 13+ years of experience in IT Development, Leading and Managing the Delivery of Projects</p>
						<p>Strong knowledge and Experience in Leading and managing the complete life cycle of <b class="accent">AWS Cloud Based Microservices Projects</b>, Web Applications, CMS systems and Data migration including the ability of Assessment, Designing, Analyzing the Solution Architecture, Writing Technical Stories, POC's, Coding, Code Review, Implementation, Release Management in each sprint, support for UAT, PVT, Hyper Care and Final documentation at the end of project.</p>
						<p>Experienced in <b class="accent">Resource management, allocations, and workload assignments</b> according to delivery of projects requirements. Ensure that team maintains that high level of competence and excellence. Regularly evaluate the performance of team members, give proper feedback, and determine training needs as well</p>
						<p>An effective mentor with the ability of motivates and organizes the team. Dedicated team player and confident in handling multiple assignments under pressure, driving the team smartly and achieving deadlines.</p>
						<p>Solutions driver who bridges the gap between business and technology while envisioning the bigger picture. Skills in problem solving coupled with effective decision making for enabling effective solutions leading to high customer satisfaction.</p>
			</div>
		</div>
		<div class="col-md-6 col-sm-12">
			<div class="skills">
				<h2 class="white">Skills</h2>
				<strong>Resource Management</strong>
							<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
								<strong>Technical Project Planning</strong>
							<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
				</div>
				<strong>Waterfall and Agile Project Management</strong>
							<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
					</div>
	
				<strong>Problem Solving</strong>
							<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
					</div>
				<strong>Teamwork and Collaboration</strong>
						<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
					</div>
				<strong>Stakeholder Management</strong>
							<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" 
                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<p></p>
	<section class="container">
	<div class="row">
	<div class="col-md-12 col-sm-16">
	<img src="images/career.jpeg" class="img-fluid img-thumbnail" alt="My Career Progression">
	</div>
	</div>
	</section>
	<p></p>
		<section class="container">
	<div class="row">
	<div class="col-md-12 col-sm-16">
	<img src="images/projects.jpeg" class="img-fluid img-thumbnail" alt="My Career Progression">
	</div>
	</div>
	</section>
	
	
<!-- education and languages -->
<section class="container">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="education">
				<h2 class="white">Experiences</h2>
					<div class="education-content">
						<h4 class="education-title accent">IDP Education India Services LLP, Chennai, India</h4>
							<div class="education-school">
								<h5>Senior Technical Project Manager</h5><span></span>
								<h5>Jul 2021 – Present</h5>
							    <h5>Technical Project Manager</h5><span></span>
								<h5>Jun 2019 – Jun 2020</h5>
							</div>
							<div class="education-school">
								<h4 class="education-title accent">Hotcourses India Private Limited, Chennai, India</h4>
								<h5>Delivery Manager</h5><span></span>
								<h5>July 2018 – May 2019</h5> <p></p>
								<h5>Delivery Lead</h5><span></span>
								<h5>July 2018 – May 2019</h5> <p></p>
								<h5>Project Lead</h5><span></span>
								<h5>Aug 2015 – Jul 2016</h5><p></p>
								<h5>Lead Developer</h5><span></span>
								<h5>Jan 2011 – Jul 2015</h5><p></p>
								<h5>Senior Developer Analysts</h5><span></span>
								<h5>Jan 2010 – Dec 2010</h5><p></p>
								<h5>Developer Analysts</h5><span></span>
								<h5>Sep 2008 – Dec 2009</h5><p></p>
								</div>
							<h4 class="education-title accent">Sutherland Global Services, Chennai.</h4>
							  <div class="education-school">
								<h5>Customer Service Representative</h5><span></span>
								<h5>Sep 2006 – Feb 2008</h5>
								</div>
						<!--<p class="education-description">In lacinia leo sed quam feugiat, ac efficitur dui tristique. Ut venenatis, odio quis cursus egestas, nulla sem volutpat diam, ac dapibus nisl ipsum ut ipsum. Nunc tincidunt libero non magna placerat elementum.</p> -->
					</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-12">
			<div class="languages">
				<h3 class="accent">Technical Skills</h3>
				<p></p>
				<h4>Cloud</h4>
					<p> 
					AWS Cloud - AWS EC2, VPC, Subnets, S3, API Gateway, Lambda, Elastic Search, SQS, SNS, Cognito, AWS Webservices/JSON/API Integration
					</p>
				<h4>Java</h4>
				<p>Java, JSP/ Servlet, Struts MVC, JSON</p>	
			   <h4>Web Development</h4>
				<p>
				HTML / CSS, JavaScript, jQuery, Angular JS, Ajax
				</p>
				
		  <h4>Database</h4>
				<p>
				 Oracle PLSQL, MOD PLSQL, PostgreSQL,MySQL 
				</p>
		 <h4>Tools and Other Products</h4>
				<p>
				 Atlassian JIRA, Microsoft Project, Eclipse, TOAD, Visual Studio,Google products such as Analytics/Webmaster/DFP, Marketing products IBM Silver pop/Transact, HubSpot
				</p>
			</div>
		</div>
	</div>
</section>

<!-- contact and experience -->
<section class="container">
	<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h3 class="accent">Honors and Awards</h3>
					<p><i class="fa fa-trophy" style="color:gold"></i>Hotcourses Employee of the Year Winner 2010 </p>
					<p><i class="fa fa-trophy" style="color:gold"></i>Hotcourses Employee of the Year Nominee 2012, 2013, 2014 and 2016</p>
					<p><i class="fa fa-trophy" style="color:gold"></i>Most Valuable Player Award Nominee 2007- Amazon/Target</p>
					
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
			    <h4 class="white">Key Highlights</h4>
				<h2 class="white">As a Project Manager</h2>
					<div class="experience-content">
		
						<p>Successfully Managed, collaborated with multiple teams, and built the Backend AWS Core Services including Course Recommendation Engine, Customer Profile, Student 360 view and Offer in Principal Services for IDP Live Applications and Consoles for Counsellor Integrations. </p>
						
					
<p>	Led and Managed the Hotcourses Abroad Sites as a Project Manager, and successfully delivered the Course Matcher Tool in New AWS Cloud Platform</p>
<p>	Successfully Managed the Merging and Migration of Multiple into Single Database concept in IBM Silver POP for Hotcourses International Websites Marketing</p>
<p>	Collaborated with the Stake Holders, Product Owner on roadmap and backlog grooming.</p>
<p>	Worked with Product Manager/ Business/ Portfolio/ PMO teams in effective planning.</p>
<p>	Managed and removed impediments and handled the scrum-of-scrum in IDP Live Services.</p>
<p>	Managed the critical path milestones and Risk-Assumption-Issues-Dependencies of the project.</p>
<p>	Handled change management in both traditional and agile methodologies.</p>

					</div>
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
				<h4 class="white">Key Highlights</h4>
				<h2 class="white"> As a Delivery Lead/Manager</h2>
					<div class="experience-content">
											<p>	Led, Managed, and successfully Delivered WUSCA Integration as part of Main website, Final 5, Profile Timeline, Search enhancement with Entry Requirements, Clearing Search Integration in the main search and HESA data integration. </p>
<p>		Successfully Managed and delivered Multiple Site Redesigns of Hotcourses websites, Floodlight, Postgraduate and Whatuni.</p>
<p>		Well Managed and Delivered the new UCAS API integration, and retaining the Clearing Courses along with current academic year courses in DB</p>
<p>		Groomed lot of junior resources to next level based on their skills set and provided support for them to excel in their roles.</p>
<p>		Contributed to Oracle Academy and mentored freshers</p>
<p>     To the Maximum, I've managed three key projects Hotcourses Sites, Higher Education Sites, MY IDP connect with 25+ resources under my leadership </p>

					</div>
			</div>
		</div>
			<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h3 class="accent">Certifications</h3>
				<p><i class="fa fa-certificate" style="color:red"></i><b>Certificate in Project Management</b> - Loyola Institute of Business Administration (LIBA) - May 2017</p>
				<p><i class="fa fa-certificate" style="color:red"></i><b>Oracle Certified Professional (OCP)</b> - July 2008</p>
				</div>
		</div>
		
	</div>
		<div class="row">
		<div class="col-md-4 col-sm-12">
			<div class="contact">
				<h3 class="accent">Education</h3>
					<p><i></i><b>B. TECH Information Technology</b>, PSY Engineering College - May 2006</p>
					<p><i></i><b>Higher Secondary - Biology </b>, APT Palayampatti Nadar Higher Secondary School - March 2002 </p>
					<p><i></i> <b>SSLC </b>, Fatima Matriculation Higher Secondary School, March 2000</p>
					
			</div>
		</div>
		<div class="col-md-8 col-sm-12">
			<div class="experience">
			    <h4 class="white">Key Highlights</h4>
				<h2 class="white">As a Developer</h2>
					<div class="experience-content">
		
<p>	Played a Key Role and Drove the dependent teams to implement and integrate Cost Per Enquiry model along with search orderings across all domestic Portfolio of IDP connect websites. </p>	
<p>	Managed and guided the developer team on delivering quality code. </p>
<p>	Involved in coding, peer reviews, UAT, pre & postproduction support. </p>
<p>	Handled defect and incident fixes. </p>


					</div>
			</div>
		</div>

	</div>
</section>
<p></p>
<section class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12">
			<div class="about">
				<h6 class="accent">Work History</h6>
				<h4 class="accent">Senior Technical Project Manager </h4>
				<h5>IDP Education India Services LLP</h5>
				<h6><b>Projects:</b> IDP Live Services (AWS)</h6>

<p>	<i class="fa fa-check"> </i> Working closely with the team of Product Managers, Business Analyst, Solution Architects and Key stakeholders across the company to successfully drive the project through various phases of Planning, Execution, Production Readiness and Postproduction program health and sustenance of Applications.</p>

<p> <i class="fa fa-check"> </i>	Working closely with the Products and BAs to understand the business EPICS/Features and be responsible to decompose business EPICS/Features to technical solution stories.</p>

<p> <i class="fa fa-check"> </i>	Translate requirements to the technical team in technical terms and brainstorm the solution. Perform gap analysis and propose various solution options</p>

<p>	<i class="fa fa-check"> </i>Responsible to help the team solve the dependencies/issues for a user story committed for a release</p>

<p> <i class="fa fa-check"> </i>	Responsible for technical thought leadership across the squads to drive continuous improvements</p>

<p> <i class="fa fa-check"> </i>	Responsible for owning the technical roadmap for the squad</p>

<p>	 <i class="fa fa-check"> </i>Work with Release Management organization to develop release schedules and milestones</p>

<p> <i class="fa fa-check"> </i>	Responsible for managing successful delivery of releases into production on agreed schedules</p>

				<h4 class="accent">Technical Project Manager  </h4>
				<h5>IDP Education India Services LLP</h5>
				<h6><b>Projects:</b> IDP Live Services, Hotcourses Abroad and India sites, Course Matcher Tool </h6>

<p>	<i class="fa fa-check"> </i> Planning and Managing the product release cycle, co-ordinate development activities using Agile methodologies.</p>

<p> <i class="fa fa-check"> </i> Evaluating and provide technical solutions, Design and SEO optimizations.</p>

<p> <i class="fa fa-check"> </i> Schedule the Stories for Sprint and co-ordinate with Lead for work estimations	</p>

<p>	<i class="fa fa-check"> </i> Provide support to resolve issues and team as they come up in different stages of projects</p>

<p> <i class="fa fa-check"> </i> Participate in Program Incremental Planning to understand the business vision and schedule the sprints in line with the business strategies and support to achieve as per schedule</p>

<p> <i class="fa fa-check"> </i> Manage day-to-day escalations and troubleshooting of production issues, support team when issues come up in different stages of projects</p>

<p>	 <i class="fa fa-check"> </i> Continues and effective contribution to PMO team for implementing new technologies, setting up process to facilitate development team and stakeholder’s efficient delivery</p>

		<h4 class="accent">	Delivery Manager  </h4>
				<h5>Hotcourses India Private Limited</h5>
				<h6><b>Projects:</b> MY IDP Connect, UKRLP, Hotoffice, Hotcourses and Floodlight</h6>
				
				<p>	 <i class="fa fa-check"> </i>	Manage one or more cross functional development teams (Java/Oracle developers) to deliver key strategic projects Monitor delivery performance and make recommendations for improvement</p>
<p>	 <i class="fa fa-check"> </i>	People management responsibilities including performance reviews, training and career development Prioritizes and manages own workload and the workload of project team members in order to deliver quality results and meet timelines</p>
<p>	 <i class="fa fa-check"> </i>	Co-ordinates HTML development and testing cycles. Brings technical items to tech forum and Escalates scheduled delays and unresolved issues and problems to Tech PM</p>
<p>	 <i class="fa fa-check"> </i>	Provide leadership to a Development team comprising mainly of developers and analysts, promoting an environment where talent is encouraged and developed</p>
<p>	 <i class="fa fa-check"> </i>	Provide work direction, delegation, and prioritization to team. Ensure compliance with company's policies, processes, and procedures</p>


			</div>
		</div>
				<div class="col-md-6 col-sm-12">
			<div class="about">



		<h4 class="accent">	Delivery Lead   </h4>
				<h5>Hotcourses India Private Limited</h5>
				<h6><b>Projects:</b> Whatuni, Postgraduate Search, Hotcourses and Floodlight</h6>
				
				<p>	 <i class="fa fa-check"> </i>Manage delivery channel of two major projects, the core course management system of hot courses and Adult/FE learning portfolios</p>
<p>	 <i class="fa fa-check"> </i> Collaborate with various teams including business, sales and Customer care to analyze requirements to have clear vision of requirements, deciding implementation approaches and reusable solutions	</p>
<p>	 <i class="fa fa-check"> </i> Drive technical excellence and implementation of best business practices such as design review, continuous integration and test-driven development based on project plan	</p>
<p>	 <i class="fa fa-check"> </i> Ensure adoption of best-in-class quality/performance assurance techniques to deliver projects with high-quality	</p>
<p>	 <i class="fa fa-check"> </i> Manage the technical risks and helping build a delivery plan. Creating Gantt Charts with deliverable smaller components based on the high-level project plan, and track till the end of project	</p>


		<h4 class="accent">	Project Lead    </h4>
				<h5>Hotcourses India Private Limited</h5>
				<h6><b>Projects:</b> Whatuni and Postgraduate Search</h6>
				
				<p>	 <i class="fa fa-check"> </i> Shape up the requirements and translate them to technical specification based on the high-level Business and Technical points</p>
<p>	 <i class="fa fa-check"> </i> Engage with Business owner, Project Manager, senior level managers regularly and help the development team to understand the needs to business and let the business to know how the team can contribute to achieve the goals	</p>
<p>	 <i class="fa fa-check"> </i> Manage the technical risks and helping build a delivery plan. Creating Gantt Charts with deliverable smaller components based on the high-level project plan, and track till the end of project. Proactively come up with the plan regarding what can and can't be done and how risky it might be, not only at the start, but till the project end	</p>
<p>	 <i class="fa fa-check"> </i> Responsible for E2E technical parts of delivery of the projects, includes adhering to coding standards and reviews, focus on cross functional requirements, adhere to release/other process set by management, flag the risk on time, ensure quality of project	</p>

	<h4 class="accent">	 Lead Developer    </h4>
				<h5>Hotcourses India Private Limited</h5>
				<h6><b>Projects:</b> Hotcourses, Floodlight, Training and Courses and Schoolsnet</h6>
				
				<p>	 <i class="fa fa-check"> </i> Defines development tasks, assigns tasks to development team, and monitors and reports status of development tasks</p>
<p>	 <i class="fa fa-check"> </i>  Provide guidance and assistance to development	</p>
<p>	 <i class="fa fa-check"> </i>  Understand and contribute to resource plan and management Maintain performance targets set by management	</p>
<p>	 <i class="fa fa-check"> </i> Ensuring project milestones are met as per project plan	</p>
<p>	 <i class="fa fa-check"> </i> 	Ensure Team Members Performance is tracked and Provide Feedback Periodically to resolve all issues</p>
<p>	 <i class="fa fa-check"> </i> 	Drive Team towards achieving Organization Goals</p>
<p>	 <i class="fa fa-check"> </i> 	Plan, Monitor, and Control Daily Activities and that are eventually delegated to team members Provide training to New Joiners</p>


	<h4 class="accent">	 Senior Developer Analyst    </h4>
				<h5>Hotcourses India Private Limited</h5>
				<h6><b>Projects:</b> Hotcourses, Floodlight, Training and Courses</h6>
				
				<p>	 <i class="fa fa-check"> </i> Responsibilities also include application support, problem solving, configuration, development, testing, deployment, and performance tuning</p>
<p>	 <i class="fa fa-check"> </i> Participate in the full software development life cycle and provide expertise in Strategy development Develop and deliver software products based on the Plan, working closely with web designers and programmers to produce the website	</p>
<p>	 <i class="fa fa-check"> </i> Maintaining and expanding/enhancing the website once built Provide mentoring and coaching for junior and mid-level developer	</p>

			</div>
		</div>
	</div>
</section>

<!-- footer section -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
			<!--	<p>Copyright &copy; 2084 Your Easy Profile</p>
				<ul class="social-icons">
					<li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-google-plus"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-dribbble"></a></li>
					<li><a href="#" class="fa fa-github"></a></li>
					<li><a href="#" class="fa fa-behance"></a></li>
				</ul>-->
			</div>
		</div>
	</div>
</footer>

<!-- javascript js -->	
<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.min.js"></script>	
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/custom.js"></script>

</body>
</html>